:root {
  --font-ral: 'Raleway', sans-serif;
  --color-blue: #007aff;
  --color-gray: #919097;
  --color-black: #020202;
  --color-backgr-dark: #2f303a;
  --color-backgr-white: #f5f5f5;
  --color-backgr-gray: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
a {
  text-decoration: none;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

/* Style  my proj */
.icon-star {
  fill: rgb(144, 144, 149);
  width: 18px;
  height: 17px;
}

.border {
  border-bottom: 2px solid #eee;
  display: block;
  height: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.page {
  background-color: #fff;
}
.app-layout {
  width: 100%;
}

/* head app section */
.app-head-wrap {
  padding: 15px 15px 0;
  display: block;
}
.app-head-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.app-head-info {
  padding-left: 13px;
  padding-right: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.app-head-info-text {
  padding-right: 0;
  padding-bottom: 5px;
  text-align: initial;
  margin-bottom: 5px;
}
.app-head-info__name {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.app-head-info__subheader {
  font-size: 13px;
  color: #9d9da2;
  line-height: 16px;
  margin-top: 6px;
  padding-left: 1px;
}
.app-head-button-appstore {
  background: #007aff;
  border-radius: 28px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 26px;
  line-height: 18px;
  width: 66px;
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-head-appstore-text-wrap {
  max-width: 60px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 8px;
}
.app-head-appstore-text {
  color: #b9b9bb;
  font-size: 8px;
  line-height: 10px;
  height: 20px;
  white-space: normal;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  text-align: initial;
  line-height: 113.34%;
}
.app-head-operations {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}
.app-head-operations-wrap {
  display: flex;
  flex-direction: row;
}

/* rating */
.app-head-rating-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-head-rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: inherit;
  height: 100%;
}

@media (min-width: 768px) {
  .app-head-rating {
    margin-top: 20px;
  }
}
.app-head-rating-rating {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: inherit;
  height: 100%;
}
.app-head-rating__main {
  font-size: 20px;
  display: flex;
  gap: 4px;
  line-height: 1;
  color: #919097;
  line-height: 24px;
  font-weight: 600;
  position: relative;
}
.app-head-rating-description {
  font-size: 11px;
  line-height: 13px;
  color: #b9b9bb;
  position: relative;
  margin-top: 3px;
}

.app-head-rating__value {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  color: #919097;
}
.app-head-rating__stars {
  padding-top: 2px;
}

/* /////////////////////////////////////////////////////////// */
/* CONTENT */
.app-content {
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.app-content-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.content-image {
  width: 100%;
  object-fit: contain;
}
/*  */

.app-content-list {
  min-width: 100%;
  min-height: 200px;
  margin-top: 10px;
}
.app-content-list {
  display: flex;
  overflow-x: auto;
}

.app-content-image {
  min-width: 245px;
  border-radius: 24px;
  text-align: center;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  cursor: pointer;
}
/* MODAL STYLE  */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}
.modal img {
  border-radius: 35px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 300px;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal.active {
  display: block;
}

.modal.active .modal-backdrop {
  display: block;
}

/* ///////////////////////////////////////////////// */
/* INFO */
/* #more {
  color: #267ff9;
  cursor: pointer;
} */
.intro {
  display: flex;
  justify-content: space-between;
}

.app-info-content {
  font-size: 13px;
  color: #000;
  font-weight: normal;
  line-height: 17px;
  margin-top: 20px;
}
.more {
  color: #267ff9;
  cursor: pointer;
  /* display: inline-block;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 8px;
  padding-left: 10px; */
}
.info-text {
  padding-bottom: 15px;
}
#details {
  display: none;
  margin-top: 10px;
}
.baseng-link {
  font-size: 14px;
  color: #267ff9;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0;
  float: none;
  display: block;
  line-height: 1.2;
  margin: 5px 0 0;
}
.info-link-wrap {
  display: flex;
  justify-content: space-between;
}
/* ////////////////////////////////////////////// */
/* RATING AND REVIEWS */
@media (orientation: landscape) and (min-height: 640px),
  (orientation: portrait) and (min-width: 640px) {
  .app-rating-section {
    width: 80%;
  }
}
.app-rating-section {
  /* width: 80%; */
}
.app-rating-wrap {
  display: flex;
  justify-content: space-between;
}
.app-rating-text {
  font-size: 20px;
  color: #020202;
  text-align: initial;
  font-weight: 700;
  margin-bottom: 9px;
}
.app-rating-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-rating-chart-main-text {
  display: block;
  font-size: 54px;
  line-height: 47px;
  font-weight: bold;
  color: #48474c;
  text-align: initial;
}
.app-rating-chart-text {
  color: #919097;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  /* text-align: center; */
}
.app-rating-chart-text-sm {
  font-size: 13px;
  line-height: 16px;
  color: #919097;
  margin-top: 8px;
  display: block;
}

.rating-star-icon {
  height: 7px;
  width: 6px;
  fill: rgb(144, 144, 149);
}

.rating-chart-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 3px;
  padding-top: 8px;
}

@media (max-width: 639px) {
  .rating-chart-main-line {
    min-width: 150px;
  }
}

/* Для устройств с шириной 640px и более */
@media (min-width: 640px) {
  .rating-chart-main-line {
    min-width: 500px;
  }
}
.rating-chart-main-line {
  /* min-width: 500px; */
  /* max-width: 500px; */
  /* min-width: 150px; */
  position: relative;
  background-color: #efefef;
  height: 3px;
}
.rating-chart-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #707087;
  height: 3px;
  right: 0;
  margin-left: 2px;
}
.rating-star {
  width: 60px;
}

.app-rating-star-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* Reviews SECT */
.app-reviews-section {
  margin-top: 14px;
}

.app-reviews-wrap {
  min-width: 100%;
  min-height: 180px;
  display: flex;
  overflow-x: auto;

  scroll-snap-type: x proximity;
}

.app__review-item {
  min-width: 100%;
  max-height: 180px;
  background: #f3f2f8;
  border-radius: 8px;
  padding: 14px 20px;
  font-size: 13px;
  line-height: 127.34%;
  color: #000000;

  user-select: none;
  scroll-snap-align: start;
  cursor: grab;
}
/*     width: 100%;
    display: inline-block;
    max-height: 180px; */
.app__review-item:active {
  cursor: grabbing;
}

.app-reviews-wrap::-webkit-scrollbar {
  display: none;
}

.review-item__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 127.34%;
}
.review-item__date {
  font-size: 13px;
  line-height: 16px;
  color: #919097;
  margin-top: 3px;
}
.review-item__info {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px; */
}
.review-item__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  padding-left: 2px;
}
.review-star-icon {
  width: 11px;
  height: 11px;
  fill: #e58735;
}
.review-item__username {
  font-size: 13px;
  line-height: 16px;
  color: #919097;
  margin-top: 3px;
}
.review-item__text {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 127.34%;
  color: #000000;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-top: 11px;
  line-height: 18px;
  max-height: 55px;
}
/*     max-height: 55px; */
.sm-landing-appstore-app-1-section-text__more {
  /* color: #267ff9;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 8px;
  padding-left: 10px; */
  background: #f3f2f8;
  bottom: 1px;
  right: 0px;
  color: #267ff9;
  display: inline-block;
  /* background-color: #fff; */
  position: absolute;
  bottom: 0;
  right: 8px;
  padding-left: 10px;
}
.review-item__answer {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 127.34%;
  color: #000000;
  text-decoration: none;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  cursor: pointer;
  margin-top: 11px;
  line-height: 18px;
  max-height: 45px;
  overflow: hidden;
}
/* max-height: 45px;
    overflow: hidden; */
.review-item__answer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-item__answer-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 127.34%;
}
/* //////////////////////////////////////////////////////////// */
/* SECTION NEWS */
.app-news {
  padding: 0 14px;
  margin-bottom: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.app-news__h {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 6px;
  text-align: initial;
}
.app-whats-new__in {
  margin: 14px 0 0;
}
.app-whats-new__title {
  color: #9d9da2;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
}
.app-whats__title-main {
  color: #9d9da2;
  font-size: 13px;
  margin-right: auto;
}
.app-whats-new__text-wr {
}
.app-section-text {
}
.app-section-text__short {
  font-size: 13px;
  color: #000;
  font-weight: normal;
  line-height: 17px;
}

.comment-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.modal-content-comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 90%;
}
.comment-card__main {
  width: 95%;
  padding: 20px;
  background: #f3f2f8;
  border-radius: 8px;
  font-size: 13px;
  line-height: 127.34%;
  color: #000000;
}

.comment-card__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #007aff; /* Черный цвет кнопки */
}

.comment-card__answer {
  position: relative;
  font-size: 13px;
  line-height: 127.34%;
  color: #000000;
  cursor: pointer;
  margin-top: 11px;
  line-height: 18px;
  max-height: 45px;
}
